/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
	font-family: 'Montserrat', Georgia, 'Times New Roman', Times, serif;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5;
	color: #000;
	background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #fafafa;
}

h1 {
	z-index: 99;
	text-align: center;
	font-size: 2.2rem;
	color: #fafafa;
}


/* Elements
--------------------------------------------- */

ul {
	margin: 0;
	padding: 0;
}

img {
	object-fit: cover;
}


/* form placeholder behavior */

input::placeholder {
	color: #999;
	opacity: 1;
}

input::-ms-input-placeholder {
	color: #999;
}

input:-ms-input-placeholder {
	color: #999;
}

textarea::placeholder {
	color: #999;
	opacity: 1;
}

textarea::-ms-input-placeholder {
	color: #999;
}

textarea:-ms-input-placeholder {
	color: #999;
}


/* Table styling */

table,
caption,
tr,
th,
td {
	border: .0625rem solid #024873;
	padding: 0.5rem;
	border-collapse: collapse;
}


/* Links
--------------------------------------------- */
a {
	text-decoration: none;
}

a:visited {}

a:hover {}

a:focus {}

a:active {}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */
header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	background-color: #fafafa;
	border-bottom: #023859 solid 0.1rem;
}

.nav-bar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0.5rem;
}

.page-links li {
	display: inline;
	padding: 0.2rem;
}

.page-links a {
	color: #000;
}

.logo {
	width: 3rem;
	height: 3rem;
	padding: 0.2rem;
	border: #023859 solid 0.15rem;
	border-radius: 100%;
}

@media (min-width: 37.5em) {

	.nav-bar {
		display: grid;
		grid-template-columns: minmax(auto, 30em) minmax(auto, 20em);
		max-width: 60rem;
		margin: 0 auto;
	}

	.page-links {
		display: flex;
		justify-content: right;
		font-size: 1.2rem;
		font-weight: 700;
	}

	.page-links a {
		padding: 2rem;
	}

	.logo {
		width: 5rem;
		height: 5rem;
		padding: 0.4rem;
		border: #023859 solid 0.2rem;
	}
}


/* Main
--------------------------------------------- */

/*** ------------------ Home Page ------------------ ***/


.home-title {
	position: relative;
}

.home-title h1 {
	background-color: #02385954;
	position: absolute;
	bottom: 3rem;
	left: 0;
	right: 0;
}

.home-video {
	border-bottom: #023859 solid 0.1rem;
}

.quote {
	text-align: center;
	padding: 1rem;
}

.about {
	text-align: left;
	padding: .5rem;
}

.about h2 {
	color: #000;
}

@media (min-width: 37.5em) {

	.home-title h1 {
		font-size: 7rem;
		backdrop-filter: blur(5px);
		bottom: 7rem;
	}

	.home-video {
		width: 100%;
		height: calc(100vh - 97px);
		/* ^This calc is to compensate for the sticky header, the hero img will fit the screen properly now! */
		object-fit: cover;
	}

	.quote {
		max-width: 50rem;
		width: 75%;
		margin: 5rem auto;
		font-size: 1.5rem;
	}

	.about {
		max-width: 50rem;
		width: 60%;
		margin: 5rem auto;
	}

	.about h2 {
		color: #000;
	}
}

/*** ------------------ Discover Page ------------------ ***/
.discover-title {
	position: relative;
}

.discover-title h1 {
	background-color: #594a52c5;
	position: absolute;
	bottom: 2rem;
	left: 0;
	right: 0;
}

.discover-hero {
	display: block;
}

.discover-main figure {
	position: relative;
	margin: 2rem 0.5rem;
}

.discover-main figcaption h2 {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: .2rem;
	text-align: center;
	background-color: #00000070;
	backdrop-filter: blur(1rem);
}

@media (min-width: 37.5em) {
	.discover-title h1 {
		font-size: 5rem;
		bottom: 7rem;
	}

	.discover-hero {
		width: 100%;
		height: calc(100vh - 97px);
		/* ^This calc is to compensate for the sticky header, the hero img will fit the screen properly now! */
	}

	.discover-main {
		display: grid;
		grid-template-columns: repeat(3, minmax(10rem, 30rem));
		grid-template-rows: repeat(3, 22.5rem);
		justify-content: center;
		gap: 2rem;
		margin: 5rem;
	}

	.discover-main figure {
		width: 100%;
		height: 100%;
		margin: 0;
	}

	.discover-main img {
		object-fit: cover;
		height: 100%;
	}

	.discover-main h2 {
		font-size: 2rem;
	}

	.big-rock {
		grid-column: 3/ 4;
		grid-row: 1/ 3;
	}

	.elk-falls {
		grid-column: 2/ 3;
		grid-row: 2/ 4;
	}
}


/*** ------------------ Trivia Page ------------------ ***/

.trivia-title {
	position: relative;
}

.trivia-title h1 {
	position: absolute;
	background-color: #435e46c5;
	bottom: 6.5rem;
	left: 0;
	right: 0;
}

.trivia-title h2 {
	color: #024873;
	margin: 2rem auto;
	max-width: max-content;
	border-bottom: solid #024873 .2rem;
}

.trivia-hero {
	display: block;
}

.trivia-main figure {
	margin: 2rem 0.5rem;
}

.trivia-main img {
	display: block;
}

.trivia-main figcaption {
	background-color: #024873;
	padding: 1rem;
	border-radius: 0 0 1rem 1rem;
	color: #fafafa;
}

.trivia-main figcaption h2 {
	margin: 0;
	padding: .2rem;
	text-align: center;
}

.trivia-main figcaption h2 {
	position: static;
}

@media (min-width: 37.5em) {
	.trivia-hero {
		width: 100%;
		height: calc(100vh - 97px);
		/* ^This calc is to compensate for the sticky header, the hero img will fit the screen properly now! */
	}

	.trivia-title h1 {
		bottom: 20rem;
		font-size: 5rem;
	}

	.trivia-title h2 {
		font-size: 3rem;
		border-bottom: solid #024873 .5rem;
		margin: 5rem auto;
	}

	.trivia-main {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: stretch;
		gap: 3rem;
		max-width: 120rem;
		margin: 0 auto;
	}

	.trivia-main figure {
		max-width: 40%;
	}

	.trivia-main figcaption {
		align-self: stretch;
	}

	.trivia-main figcaption h2 {
		max-width: max-content;
		margin: 0 auto;
	}

	.trivia-main figcaption p {
		max-width: 30rem;
		padding: 0 1rem;
		margin: 1rem auto;
	}
}


/* ----------- form styling ----------- */

.form-text {
	display: block;
	margin: 5rem 0.5rem 0rem;
	border-radius: 1rem;
	background-color: #024873;
	border-radius: 1rem 1rem 0 0;
}

.form-text h2,
.form-text h3 {
	color: #fafafa;
	margin: 0;
	padding: 1rem;
}

.form {
	display: block;
	padding: 1rem;
	margin: 0 0.5rem 2rem;
	border: 0.2rem solid #024873;
	border-radius: 0 0 1rem 1rem;
}

.form ul {
	list-style: none;
	padding: 0;
}

.form li {
	margin-top: 1rem;
}

.form input,
.form textarea {
	width: 100%;
	box-sizing: border-box;
	border: .0625rem solid #999;
}

.form input:focus,
.form textarea:focus {
	border-color: #000;
}

.form textarea {
	max-width: 60rem;
	vertical-align: top;
	height: 10rem;
}


@media (min-width: 57rem) {

	.trivia-form {
		max-width: 80rem;
		width: 80%;
		margin: 5rem auto 1rem;
	}

	.form-text {
		padding: 1rem;
	}

	.form input,
	.form textarea {
		max-width: 62rem;
		width: 70%;
		box-sizing: border-box;
		border: .0625rem solid #999;
	}

	.form textarea {
		width: 70%;
		max-width: 60rem;
		vertical-align: top;
	}

	.form label {
		display: inline-block;
		text-align: right;
		padding-left: 4rem;
		width: 12rem;
	}


	.form button {
		margin-left: 12.2rem;
		/* this matches up submit button to the edge of the form */
	}
}

/*** ------------------ Credits Page ------------------ ***/

.credits-title {
	position: relative;
}

.credits-title h1 {
	position: absolute;
	background-color: #404e59be;
	bottom: 2.5rem;
	left: 0;
	right: 0;
}

.credits-hero {
	display: block;
}

.home-credits,
.discover-credits,
.trivia-credits,
.credit-page-credits {
	display: flex;
	justify-content: center;
	margin: 2rem;
	/* max-width: 80rem; */
	width: 90%;
}


/* Footer
--------------------------------------------- */

footer {
	background-color: #023859;
	color: #fafafa;
	text-align: center;
	margin: 0;
	padding: 1rem;
}